.env
.env.production
.env.*.local
.git/
__pycache__/
*.py[cod]
*.so
*.egg-info/
.idea/
.vscode/
*.swp
*.swo
*.db
checkpoints/
results/
predict/
samples/predict/
vis/
uploads/
.ipynb_checkpoints/
*.zip
*.rar
*.7z
.DS_Store
Thumbs.db
desktop.ini
*.pt
*.pth
browser_profile/
environment.yml
datasets/*
!datasets/*.py
node_modules/
dist/
build/
*.egg
